<div class="row">
  <div class="col-6 col-md-2"></div>
  <div class="col-6 col-md-8">
    <div *ngIf="!idCurso; else forminfo">
      <div class="card-header">
        <h1>Crear Curso</h1>
        <hr>
        <div class="card-body">
          <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
            <div class="form-group">
              <label for="inputNombreCurso">Nombre del Curso:</label>
              <input type="text" class="form-control" placeholder="Ingrese un nombre para el curso" formControlName="nombreCurso">
            </div>
            <div class="form-group">
              <label for="inputSalaCurso">Sala del Curso</label>
              <input type="number" class="form-control" placeholder="Ingrese una sala para el curso" formControlName="salaCurso">
            </div>
            <div class="form-group">
              <label for="inputDetallesCurso">Detalles del Curso</label>
              <input type="text" class="form-control" placeholder="Ingrese detalles del curso" formControlName="detallesCurso">
            </div>
            <div class="form-group">
              <label for="inputDetallesCurso">Objetivos de Aprendizaje de la Planificacion del Curso</label>
              <select class="form-control" [(ngModel)]="selectedPlanifiacion">
                <option *ngFor="let nivel of niveles.data" [ngValue]="c">{{nivel.sigla}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputDetallesCurso">Nivel de Curso</label>
              <select class="form-control" [(ngModel)]="selectedNivel">
                <option *ngFor="let nivel of niveles.data" [ngValue]="c">{{nivel.sigla}}</option>
              </select>
            </div>
            <br>
            <input type="reset" class="btn btn-secondary" value="Cancel">
            <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Crear</button>
            <!-- <ng-template #forminfo>
              <div class="form-container">
                <div class="row comuns">
                  <h1> {{idCurso}} </h1>
                  <h1> {{ nivel }} </h1>
                </div>
              </div>
            </ng-template> -->
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-md-2"></div>
</div>